# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# 2 spaces indent for JavaScript/JSON/YAML
[*.{js,jsx,ts,tsx,json,yaml,yml}]
indent_style = space
indent_size = 2

# 2 spaces indent for CSS
[*.{css,scss,sass,less}]
indent_style = space
indent_size = 2

# 2 spaces indent for HTML
[*.{html,htm}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
